@import url(../css/fonts.css);

/*-------- "root" funciona como uma pseudo classe e permite utilizar uma variável a partir de qualquer lugar do projeto ------ */
:root{
    /*colors palette*/
    --text-gray: #3f4954;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;
    --light-blue: #00abf0;
    --img-color: #031C30;

    /*gradient colors*/
    --sky: background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);

    /*font-family temas*/
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefina: 'Josefina', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic: 'Livvic', cursive;
}
/*----x---- root ----x----*/

/*--------- global ---------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Josefina);
}

/*----x---- global ----x----*/

body {
    font-family: var(--Josefina);
    color: var(--white);
    background: #031C30;
}

/*--------- header ---------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: var(--light-blue);
    opacity: 90%;
}

.logo {
    font-size: 25px;
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
}

.logo:hover {
    color: #00abf0;
}

/*----x---- header ----x----*/

/*--------- navbar ---------*/
.navbar a {
    font-size: 18px;
    color: var(--white);
    text-decoration: none;
    font-weight: 400;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover{
    color: #00abf0; 
}

#menu-icon {
    display: none;
    font-size: 2.5rem;
    color: var(--white);
    cursor: pointer;
}
/*----x---- navbar ----x----*/

/*--------- first section content ---------*/
.home {
    background-image: url('../images/adobe3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
    z-index: 99;
}

.home-content h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 20px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    font-size: 21px;
    margin: 20px 0 40px;
}

.home-content .btn-box { 
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: var(--midnight);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {  /*button special effect */
    color: var(--white);
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: var(--white);
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--midnight);
    transition: .5s;
    z-index: -1;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-social { /*social media buttons*/
    position: absolute;
    bottom: 40px;
    width: 190px;
    display: flex;
    justify-content: space-between;
}

.home-social a {
    position: relative;
    display: inline-flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 2px solid var(--white);
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    transition: .5s;
    overflow: hidden;
}

.home-social a:hover { /*social media effects*/
    color: var(--white);
}

.home-social a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    transition: .5s;
    z-index: -1;
    overflow: hidden;
}

.home-social a:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    z-index: -1;
}
/*----X----- first section content -----X----*/

/*--------- about section content ---------*/
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
    background: #0f0f0f;
}

.heading {
    font-size: 2rem;
    padding-top: 50px;
    text-align: center;
}

span {
    color: var(--light-blue);
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 70%;
    border-radius: 50%;
    border: .2rem solid #031C30;
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border-top: .3rem solid var(--white);
    border-bottom: .3rem solid var(--white);
    border-left: .3rem solid --light-blue;
    border-right: .3rem solid --light-blue;
}

.about-content {
    text-align: center;
    width: 60%;
}

.about-content h3 {
    font-size: 2.2rem;
}

.about-content p {
    font-size: 1.2rem;
    margin: 2rem 0 2rem;
}

.btn-box .btns {
    display: inline-flex;
    width: 150px;
    height: 50px;
}
/*----X----- about section content -----X----*/

/*--------- education section content ---------*/
.education  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    padding-bottom: 2rem;
    /* min-height: auto; */

}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column {
    flex: 0 0 40rem;
    padding-left: 150px;
    justify-content: space-between;
    align-items: center;
}

.education-column .title {
    font-size: 2rem;
    margin: 0 0 1rem 1.5rem;
}

.education-column .education-box {
    border-left: .2rem solid var(--light-blue);
}

.education-box .education-content {
    position: relative;
    padding-left: 1rem;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -.6rem;
    width: 1rem;
    height: 1rem;
    background: var(--light-blue);
    border-radius: 50%;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--light-blue);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--light-blue);
    z-index: -1; 
    transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;
}

.education-content .content .year {
    font-size: 1rem;
    color: var(--light-blue);
    padding-bottom: .5rem;
}

.education-content .content .year i {
    padding-right: .5rem;
}

.education-content .content h3 {
    font-size: 1.3rem;
}
/*----X----- education section content -----X----*/

/*--------- skills and portfolio presentation section content ---------*/
.skills  {
    min-height: auto;
    padding-bottom: 5rem;
    background: black;
    gap: 5rem;
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding-top: 5rem;
}

.skills-row .skills-column {
    flex: 0 0 40rem;
    padding-left: 150px;
}

.skills-column .title {
    font-size: 2rem;
    margin: 0 0 1.5rem;
}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid var(--light-blue);
    border-radius: .6rem;
    padding: .5rem;
}

.skills-content .progress {
    padding: 1rem 0;
}

.skills-content .progress h3 {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}
/*----X----- skills and portfolio presentation section content -----X----*/

/*--------- contact form ---------*/
.contact {
    background: var(--img-color);
    min-height: auto;
    padding-bottom: 7rem;
}

.contact form {
    padding-top: 3rem;
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.2rem;
    color: #00abf0;
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--light-blue);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--white);
}

.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--light-blue);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
    width: 100%;
}


.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box .btns {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: var(--midnight);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
/*----X----- contact form -----X----*/

/*--------- footer ---------*/
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 9%;
    background: var(--light-blue);
}

.footer-text p {
    font-size: 1rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--img-color);
    border: .1rem solid var(--img-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--light-blue);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 1.2rem;
    color: var(--white);
    transition: .5s;
}
/*----X----- footer -----X----*/

/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

}

@media (max-width: 991px) {
    .header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home {
        padding: 0 4%;
    }

    .footer {
        padding: 2rem 4%;
    }
}

@media (max-width: 768px) {
    .header {
        background: var(--light-blue);
    }

    #menu-icon {
        display: block;
    }
   
    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--img-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--light-blue);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
}
